body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Logocontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ddd; /* Lighter gray border */
    border-radius: 8px; /* Smoother border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight box shadow for depth */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mxlink {
    display: flex;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 0px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#results {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Enable text wrapping */
}

h2 {
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}
